COLORS-(coolor.co)

beige and pastel pink&white-
https://coolors.co/palette/f6f2f0-f3e7e4-e7d1c9-f1e7dd-d0b49f

grayinsh green&blue-
https://coolors.co/e0e2db-d2d4c8-b8bdb5-889696-5f7470

Blue(pastel&Dark Shade)-
https://coolors.co/e7ecef-274c77-6096ba-a3cef1

Sage Green-
https://coolors.co/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8

violate-
https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4

----

FONT:(https://fonts.google.com/)

1)
Nunito
Designed by Vernon Adams, Cyreal, Jacques Le Bailly

2)
Lato
Designed by Łukasz Dziedzic

